version: '3.8'

services:
  auth-service:
    build: 
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    environment:
      - NODE_ENV=development
      - PORT=5000
    ports:
      - "5000:5000"
    volumes:
      - ./auth-service:/app
      - /app/node_modules
    networks:
      - douremember-network

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    environment:
      - NODE_ENV=development
      - PORT=5003
    ports:
      - "5003:5003"
    volumes:
      - ./notification-service:/app
      - /app/node_modules
    networks:
      - douremember-network

networks:
  douremember-network:
    driver: bridge